*, *:before, *:after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    background-color: fff;
    
}
header{
    width: 100%;
    height: 100px;
}
#btn-menu{
    display: none;
}
header label {
    display: none;
    padding: 15px;
}
.iconomenu {
    font-size: 30px;
    color: #fff;
}
header label:hover{
    cursor: pointer;
}
.menu ul{
    margin-right: 22px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li a:hover{
    color: #00c9d5;
    transition: 0.5s;
}
.menu li{
    margin-top: 50px;
    margin-right: 33px;
}
.acerca{
    border-left: 1px solid #000;
    margin-top: 40px;
    margin-right: 40px;
}
.servicios{
    border-left: 1px solid #000;
    margin-top: 40px;
    margin-right: 40px;
}
.portafolio{
    border-left: 1px solid #000;
    margin-top: 40px;
    margin-right: 40px;
}
.contacto{
    border-left: 1px solid #000;
    margin-top: 40px;
    margin-right:32px;
}
.menu li a{
    display: block;
    color: #000;
    text-decoration: none;
    font-family: Qanelas soft, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}
.logocel{
    display: none;
}
.icono1{
    display: none;
}
.icono2{
    display: none;
}
.icono3{
    display: none;
}
.icono4{
    display: none;
}
.icono5{
    display: none;
}

ul, ol{
    list-style: none;
}
.panel1{
    background-color: #00c9d5;
    width: 500px;
    height: 700px;
    margin-top: 30px;
    position: absolute;
}
.panel1 h1{
    color: #fff;
    font-size: 20px;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-family: quicksand;
    font-weight: 500;
    margin-top: 80px;
}
.panel1 img{
    width: 99.9%;
    margin-top: 26px;
}
.panel2{
    background: #000112;
    width: 764px;
    height: 700px;
    margin-top: 30px;
    float: right;
}
.botones{
    margin-left: 150px; 
}
.boton1:hover{
    background-color: rgba(255, 255, 255, .8);
    color: #000;
}
.boton2:hover{
    background-color: rgba(255, 255, 255, .8);
    color: #000;
}
#mover{
    margin-top: 30px;
}
.boton1{
    color: #fff;
    font-family: quicksand;
    background-color: #138484;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.boton2{
    color: #fff;
    font-family: quicksand;
    margin-left: 8px;
    background-color: #138484;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.panel2 h2{
    color: #00C0DC;
    margin-top: 25px;
    font-size: 65px;
    font-family: pacifico;
    font-weight: lighter;
    text-align: center;
}
.formulario{
    margin-top: 50px;
}
.formulario input {
    margin-left: 60px;
    width: 320px;
    background: none;
    margin-top: 14px;
}
textarea{
    margin-left: 60px;
    width: 320px;
    background: none;
    margin-top: 14px;
}
#text{
    font-family: quicksand;
}
.formulario p{
    color: #fff;
    font-size: 20px;
    font-family: quicksand;
    margin-top: 25px;
    margin-left: 60px;
}
.casilla1{
    border:none;
    border-bottom: 1px solid #fff;
}
.casilla2{
    border:none;
    border-bottom: 1px solid #fff;
}
.casilla3{
    border:none;
    border-bottom: 1px solid #fff;
}
.casilla4{
    border: 1px solid #fff;
    height: 100px;
}
.contacto2 ul{
    float: right;
    margin-top: -451px;
    margin-right: 70px;
}
.contacto2 li{
    padding: 15px;
 
}
.correo2{
    color: #fff;
    font-size: 30px;
    margin-left: -60px;
}
.telefono2{
    color: #fff;
    font-size: 30px;
    margin-left: -60px;
}
.ubicacion{
    color: #fff;
    font-size: 35px;
    margin-left: -57px;
}
.contacto2 p{
    color: #fff;
    font-family: quicksand;
    font-size: 16px;
    margin-right: -60px;
    margin-top: -25px;

}
.contacto2 p:hover{
    text-shadow: 0 3px 10px #00c9d5 ;
}
#qrcode img{
    width: 10%;
    margin-top: -270px;
    float: right;
    margin-right: 262px;
}
#enlaces{
    margin-top: 40px;
}
.mapa{
    float: right;
    margin-top: -270px;
    margin-right: 25px;
}
.logo img{
    width: 81px;
    height: 88px;
    display: block;
    margin-top: -70px;
    margin-left: 60px;
}
.footer img{
    width: 100%;
    margin-top: 50px;
}
.final{
    background-color: #00071f;
    width: 100%;
    height: 40px;
    margin-top: -1px;
}
.footer ul{
    display: flex;
    justify-content: center;
    margin-left: 10px;
}
.footer li{
    display: inline;
    text-align: center;
    color: #00c9d5;
    margin-top: -280px;
    margin-left: 71px;
    margin-right: 71px;
}
.telefono{
    font-size: 50px;
    margin-left: -10px;
}
.correo{
    font-size: 50px;
    margin-left: 25px;
}
.celular{
    font-size: 50px;
}
.footer p{
    font-family: quicksand;
    font-size: 28px;
    margin-top: 40px;
}
.footer li:hover{
    text-shadow: 0 0 8px #00c9d5 ;
}
.copy p{
    text-align: center;
    font-family: quicksand;
    font-size: 25px;
    margin-top: -120px;
    color: #00c9d5;
}
.redes ul{
    display: flex;
    justify-content: center;
    margin-top: 42px;
}
.redes li{
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
}
.redes li a{
    color:#00c9d5;
    font-weight: bold;
}
.redes li:hover{
    margin-top: -15px;
}
.botones2 img{
    float: right;
    position: sticky;
    margin-top: -120px;
    margin-right: 35px;
}
nav ul li a.active{
    color: #00C0DC;
    font-weight: 300;
}
.arriba {
    margin-left: 15px;
    margin-top: 6px;
    color: #000;
    transition: .3s;
}
#bttbutton{
    width: 55px;
    height: 55px;
    border-radius: 70px;
    font-size: 40px;
    background-color: rgba(255, 255, 255, .5);
    opacity: 1;
    border: none;
    transition: .3s;
    float: right;
    z-index: 30;
    margin-right: 135px;
    margin-top: -106px;
    position: relative;
}
.arriba:hover{
    color: #00C0DC;
}
html{
    scroll-behavior:smooth;
}
#bttbutton:hover{
    cursor: pointer;
    background-color: #fff;
    -webkit-transform:scale(1.3);transform:scale(1.2);
    -ms-transform:scale(1.3);transform:scale(1.2);
    -moz-transform:scale(1.3);transform:scale(1.2);
    -o-transform:scale(1.3);transform:scale(1.2);
    transform:scale(1.3);transform:scale(1.2);
}
/*RESPONSIVE*/
@media (max-width: 860px){
    .logo img{
        width: 67px;
        height: 78px;
        margin-top: -87px;
        margin-left: 28px;
    }
    .botones2 img{
        width: 40px;
        height: 40px;
        margin-top: -50px;
    }
    #bttbutton{
        width: 30px;
        height: 30px;
        font-size: 23px;
        margin-top: -46px;
        margin-right:80px;
    }
 
    .footer ul{
        flex-direction: column;
        align-items: center;
        margin-top: 260px;
    }
    .footer p{
        font-size: 30px;
    }  
    .copy p{
    margin-top: 125px;
    font-size: 21px;
    line-height: 35px;
    }
    .textcorreo p{
        font-size: 22px;
    }
    .final{
        height: 680px;
        margin-top: -620px;
    }
    .redes{
        margin-top: -15px;
    }
    header label{
        display: block;
    }
    
    .menu{
        position: absolute;
        background: #00061D;
        top: 60px;
        width: 100%;
        height: 115%;
        z-index: 3;
        margin-left: -100%;
        transition: all 0.5s;
    }
    
    .menu ul{
        flex-direction: column;
        margin-top: 10px;
    }
    .menu li{
        margin-left: 85px;
        line-height: -5px;
    
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    
    }
    .menu li a{
        text-transform: capitalize;
        color: #fff;
    }
    .iconomenu{
        float: right;
        margin-top: 10px;
        color: #000;
    }
    .panel1{
        width: 100%;
        height: 850px;
    }
    .panel1 img{
        margin-top: -30px;
    }
    .panel1 h1{
        font-size: 32px;
    }
    .panel2{
        margin-top: 880px;
        width: 100%;
    }
    
    .logocel{
        display: block;
        width: 128px;
        height: 138px;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
    }
    .icono1{
        display: block;
        margin-left:40px;
        color: #fff;
        margin-top: -21px;
        font-size: 20px;
    }
    .icono2{
        display: block;
        margin-left: 37px;
        color: #fff;
        margin-top: -24px;
        font-size: 22px;
    }
    .icono3{
        display: block;
        margin-left: 40px;
        color: #fff;
        margin-top: -21px;
        font-size: 22px;
    }
    .icono4{
        display: block;
        margin-left: 39px;
        color: #fff;
        margin-top: -21px;
        font-size: 22px;
    }
    .icono5{
        display: block;
        margin-left: 44px;
        color: #fff;
        margin-top: -21px;
        font-size: 22px;
    }
    .menu li a:hover{
        color: #00c9d5;
        text-shadow: 0 0 4px #00c9d5;
    }
    .acerca{
        display: none;
    }
    .servicios{
        display: none;
    }
    .portafolio{
        display: none;
    }
    .contacto{
        display: none;
    }
    .boton{
        float: right;
        margin-top: -17.5%;
    }
    .correo{
        margin-left: -6px;
    }
    .footer img{
        margin-top: 70px;
    }
    .arriba {
        margin-left: 8px;
        margin-top: 3px;
        color: #000;
        transition: .3s;
    }
    .arriba:hover{
        color: #00C0DC;
    }
}
    @media (max-width: 650px){
        .panel1{
            width: 100%;
            height: 450px;
        }
        .panel1 h1{
            font-size: 15px;
            margin-top: 50px;
        }
        .panel1 img{
            margin-top: -10px;
        }
        .panel2{
            width: 100%;
            margin-top: 480px;
            float: none;
            height: 1150px;
        }
        .panel2 h2{
            font-size: 60px;
            padding-top: 25px;
        }
        form{
            display: inline-block;
            margin: 0 auto;
        }
        .formulario{
            margin-left: -37px;
        }
        .formulario input{
            width: 310px;
        }
        #qrcode{
            margin-top: 550px;
        }
        .botones{
            margin-left: auto;
            margin-right: auto;
        }
        #mover{
            margin-left: 112px;
        }
        .contacto2{
            display: block;
            margin-top: 480px;
        }
        .contacto2 ul{
            float: none;
            margin-left: 75px;
        }
        .contacto2 p{
            font-size: 16px;
        }
        #qrcode img{
            width: 22%;
        }
        #enlaces{
            margin-top: -250px;
        }
        .logo img{
            width: 63px;
            height: 68px;
            margin-top: -87px;
            margin-left: 18px;
        }
        .correo{
            margin-left: -6px;
        }
        .arriba {
            margin-left: 8px;
            margin-top: 3px;
            color: #000;
            transition: .3s;
        }
        .arriba:hover{
            color: #00C0DC;
        }
    }